body {
    background-color: rgb(194, 194, 194);
}

table {
    margin: auto;
    margin-top: 100px;
    background-color: rgb(153, 153, 153);
    padding: 0;
}

td {
    background-color: rgb(218, 218, 218);
    width: 150px;
    height: 150px;
    border: 1px solid rgb(56, 56, 56);
    border-collapse: collapse;
    font-size: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(88, 88, 88);
}

input {
    width: 400px;
    height: 60px;
    margin: 20px 0 0 37%;
    font-size: 20px;
}

p {
    margin: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
}